{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Julian de Boer {% else %} Julian de Boer {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="/css/">CSS</a> |
        <a href="/js/">JavaScript</a> |
        <a href="/python/">Python</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        hey hey hey

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}